<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="paho-mqtt.js"></script>


</head>
<body>
<p th:text="'Monitoring, ' + ${location} + '!'" />
<H2 id="LocationHall">Expecting Hall</H2>
<p id="TimestampHall">No Updates</p>
<p id="TemperatureHall">Unknown</p>

<H2 id="LocationBasement">Expecting Basement</H2>
<p id="TimestampBasement">No Updates</p>
<p id="TemperatureBasement">Unknown</p>

</body>
<script src="monitor.js"></script>
<script>
    $(document).ready(function(){
         console.log("Subscribing");

         // subscribe, requesting that message be delivered to function below
         subscribeHomeMonitor(processMonitorMessage);
    });

    // Exmple message processor
    function processMonitorMessage(message){
         console.log("processMonitorMessage:"+message.payloadString);
         let telemetry = JSON.parse(message.payloadString);
         $('#Location' + telemetry.location).text("Location: " + telemetry.location);
         $('#Timestamp' + telemetry.location).text( getFormattedDate(telemetry.date));
         $('#Temperature' + telemetry.location).text(telemetry.temperature);
    }

    // Date formatter
    function getFormattedDate(dateToFormat) {

        let formatter = Intl.DateTimeFormat(
              "default", // a locale name; "default" chooses automatically
              {
                 weekday: "short",
                 year: "numeric",
                 month: "short",
                 day: "numeric",
                 hour: "numeric",
                 minute: "numeric"
                 }
        );
        return formatter.format(dateToFormat);
    }

</script>
</html>